{% block body %}
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        
        {# Champs de mot de passe avec une vérification des deux champs (confirmation du mot de passe) #}
        <div>
            {{ form_row(registrationForm.password.first) }}
        </div>
        <div>
            {{ form_row(registrationForm.password.second) }}
        </div>

        {# Un seul bouton de soumission #}
        <button type="submit">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
